@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    
}

body{
    background-color: hsl(0, 0%, 98%);
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    margin-left: 30px;
    margin-right: 30px;
    
}

.img{
    height: 20px;
    margin-top: 10px;
}

.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    
    nav{
        color: hsl(0, 0%, 41%);
        font-family: Epilogue;
        font-size: 13px;
        font-weight: 550;
        
    }

}

.nav-main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
    div{
        position: relative;
    }
}

#nav-features{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 5px;
}

#features-content{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: none;
    border-radius: 10px;
    padding: 15px;
    position: absolute;
    top: 100%;
    right: 0px;
    display: none;
    margin-top: 20px;
    box-shadow: 10px 10px 10px 10px whitesmoke;
    div>div{
        /* border: 1px solid black; */
        display: flex;
        align-items:  center;
        gap: 10px;
    }
    h3{
        color: hsl(0, 0%, 41%);
        font-family: Epilogue;
        font-size: 13px;
        font-weight: 500;
    }
    h3:hover{
        color: hsl(0, 0%, 8%);
    }
    img{
        width: 12px;
    }
}

#nav-company {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 5px;
}

#company-content {
    flex-direction: column;
    gap: 15px;
    background-color: white;
    border: none;
    border-radius: 10px;
    padding: 15px;
    position: absolute;
    top: 100%;
    left: 0px;
    width: 100%;
    display: none;
    margin-top: 20px;
    box-shadow: 10px 10px 10px 10px whitesmoke;
    h3{ 
        color: hsl(0, 0%, 41%);
        font-family: Epilogue;
        font-size: 13px;
        font-weight: 500;
    }
    h3:hover {
        color: hsl(0, 0%, 8%);
    }
}

.logoNav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 45px; 
}

.loginBtn{
    display: flex;
    align-items: center;
    color: hsl(0, 0%, 41%);

    button{
        color: hsl(0, 0%, 41%);
        background-color: transparent;
        border: 1px solid hsl(0, 0%, 41%);
        font-family: Epilogue;
        font-size: 13px;
        font-weight: 550;
        height: 35px;
        width: 80px;
        border-radius: 10px;
        margin-left: 20px;
    }
}

#login{
    border: none;
    font-size: 13px;
    font-weight: 550;
}

.iconMenu{
    display: none;
}



.hero{
    display: flex;
    justify-content: space-around;
    align-items: center;
    div{
        box-sizing: border-box;
        margin-top: 150px;
    }
}

.textBox{
    box-sizing: border-box;
    margin-bottom: 80px;
}

.textBox h1{
    color: hsl(0, 0%, 8%);
    font-family: Epilogue;
    font-size: 54px;
    font-weight: 700;
    margin-bottom: 30px;
    margin-top: 0px;
}

.textBox p{
    color: hsl(0, 0%, 41%);
    font-family: Epilogue;
    font-size: 13px;
    font-weight: 500;
    line-height: 18px;
    margin-bottom: 30px;
    width: 330px;
}

.textBox button{
    background-color: hsl(0, 0%, 8%);
    color: hsl(0, 0%, 98%);
    border-radius: 10px;
    height: 38px;
    width: 115px;
    font-family: Epilogue;
    font-size: 13px;
    font-weight: 500;
}

.imgBox{
    margin-top: 40px;
    margin-left: 150px;
    width: 380px;
   .imgD{
        height: 70vh;
        width: 100%;
    }
    .imgM{
        display: none;
    }

}

.client{
  display: flex;
  justify-content: center;
  align-items: center;
  img{
        width: 70px;
        margin-right: 30px;
    }
}

#client-icon{
    width: 50px;
}

#client-meet{
    width: 60px;
}

@media (max-width: 768px) {
    .imgBox{
        margin: 0px;
        margin-top: 110px;
    }

    .imgM{
        display: none;
    }

    .navigation{
        display: none;
    }

    .loginBtn{
        display: none;
    }

    .iconMenu{
        display: block;
    }
}  


@media (max-width: 500px) {
    .header{
        margin: 10px 20px;
        position: relative;

    }

    .img{
        height: 30px;
    }

    .hero{
        box-sizing: border-box;
        display: flex;
        flex-direction: column-reverse;
        padding: 20px 0px 20px;
        div{
            margin-top: 50px;
            width: 100%;
        }
    }

    .textBox{
        text-align: center;
        h1{
            font-size: 40px;
            margin-bottom: 20px;
           br{
            display: none;
           }
        }
        p{
            margin: auto;
        }
        button{
            margin-top: 30px;
            height: 48px;
            width: 130px;
        }
    }

    .imgBox{
        width: 100%;
        margin: 0px;
        margin-right: 5px;
       /* .imgD{
           display: none !important;
        }
        .imgM{
            display: block !important; 
            height: 250px;
            width: 100%;
        } */
    
    }

    .imgBox .imgD {
        display: none !important;
    }

    .imgBox .imgM {
        display: block !important; 
        height: 250px;
        width: 100%;
    }

    .client{
       margin-top: -30px;
       justify-content: space-around;
       img{
        margin-right: 0px;
       }
    }

    .navigation {
        display: none;
    }

    .loginBtn {
        display: none;
    }

    .iconMenu {
        display: block;
    }

}

